.profile {
  display: inline-block;
  text-align: center;
  min-width: 500px;
  margin-bottom: 50px;
  padding-bottom: 15px;
  background-image: linear-gradient(#020317, #000000);
  box-shadow: 0 0 0 2px #d2973d inset, 0 0 0 4px white inset;

  border-radius: 50%;
}

.description > p {
  padding-bottom: 10px;
}

.avatar {
  width: 250px;
  height: 250px;
  margin-bottom: 12px;
  margin-top: 25px;
  border-radius: 50%;
}

/* .avatar:hover {
  box-shadow: 0 0 0 2px #d2973d inset, 0 0 0 4px white inset;
} */
.userName {
  font-size: 24px;
  font-weight: 700;
}

.stats {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.stats__item:not(:last-child) {
  padding-right: 15px;
}

.stats__label {
  clear: both;
}

.tag {
  font-style: italic;
}

.tag,
.location {
  font-size: 18px;
}
