.friendList {
  padding: 20px 0px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.friendItem {
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-basis: calc(25% - 25px);
  height: 250px;
  /* margin-right: 20px; */
  border: 2px solid white;
  background: linear-gradient(to top, black, #2b7171);
  transition: 500ms;
  margin-right: 20px;
}

.friendItem:hover {
  transform: scale(1.1);
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
}

.friendItem .online .friendItem:hover {
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
}

.friendItem:not(:last-child) {
  margin-bottom: 30px;
}

.online .friendItem:hover {
  transform: scale(1.1);
}

.avatar {
  width: 150px;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  background: none;
}

.friendName {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

.styles {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 23px;
  right: 52px;
  border-radius: 50%;
}

.online {
  composes: styles;
  background-color: green;
}

.offline {
  composes: styles;
  background-color: red;
}
